* {
    border: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.line {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    padding: 0 20px;
}

.line:after {
    margin-bottom: 24px;
}


body {
    background-color: #141414;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;

    position: relative;
}

form {
    box-shadow: rgba(51, 51, 56, 0.2) 5px 7px 29px 5px;
    border-radius: 5px 5px 5px 5px;
}

.number, .operator {
    background-color: gray;
    color: whitesmoke;
    border-radius: 20%;
    height: 70px;
    width: 70px;
    cursor: pointer;
    transition: background-color 1.0s;
}

.operator {
    background-color: #6eb8f5;
    font-weight: 700;
    font-size: 17px;
}

.number:hover, .operator:hover {
    background-color: #c3e3fd;
}

.visor {
    background-color: #141414;
    border-bottom: 1px solid grey;
    height: 70px;
    margin-bottom: 30px;
    margin-left: 45px;
    width: 264px;
    font-size: 20px;
    color: whitesmoke;
}
